<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" use-expressions="true" auto-config="true">

<head>
    <title>Biblioteca do Fred</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.serializejson.js}"></script>
    <script type="text/javascript" th:src="@{/js/addbook/buttonsHandlers.js}"></script>
    <script type="text/javascript" th:src="@{/js/addbook/addbooks.js}"></script>
</head>

<style>
    .btn {
        border-radius: 10%;
        margin-left: 10px;
    }

    .btn-group-sm {
        margin-top: 4px;
    }

    select {
        text-align: center;
        text-align-last: center;
    }
</style>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header" style="text-align: center;">Informações do livro</div>
            <div class="card-body">
                <div id="titleDiv">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Título:</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Digite o título" id="title" name="title">
                        <span class="text-danger" style="margin-left: 10px">*</span>
                    </div>
                </div>
                <div id="priceDiv">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Preço:</span>
                        </div>
                        <input type="number" placeholder="R$ 00.00" id="price" name="price" min="0.01" step="0.01">
                        <span class="text-danger" style="margin-left: 10px">*</span>
                    </div>
                </div>
                <div id="descriptionDiv">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descrição:</span>
                        </div>
                        <textarea class="form-control col-xs-12" id="description" name="description" rows="4"
                            maxlength="256" placeholder="Digite a descrição" style="resize: none;"></textarea>
                        <span class="text-danger" style="margin-left: 10px">*</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="d-flex">
                <div class="p-2 flex-fill">
                    <div class="card">
                        <div class="card-header" style="text-align: center;">Informações dos Autores</div>
                        <div class="card-body" id="cardAuthor">
                            <div id="authorDiv0">
                                <div class="input-group mb-3" id="buttonsAuthorGroup0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Autor:</span>
                                    </div>
                                    <select id="author0" name="author">
                                        <option value="-2"></option>
                                        <option th:each="author : ${authors}" th:value="${author.id}"
                                            th:text="${author.firstName}+' '+${author.lastName}"></option>
                                        <option value="-1">Novo autor...</option>
                                    </select>
                                    <div class="btn-group-sm" id="btnsAuthor">
                                        <button id="addAuthor" class="btn btn-outline-success" type="button">+</button>
                                        <button id="removeAuthor" class="btn btn-outline-danger"
                                            type="button">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 flex-fill">
                    <div class="card">
                        <div class="card-header" style="text-align: center;">Informações dos Gêneros</div>
                        <div class="card-body" id="cardGenre">
                            <div id="genreDiv0">
                                <div class="input-group mb-3" id="buttonsGenreGroup0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Gênero:</span>
                                    </div>
                                    <select id="genre0" name="genre">
                                        <option value="-2"></option>
                                        <option th:each="genre : ${genres}" th:value="${genre.id}"
                                            th:text="${genre.name}"></option>
                                        <option value="-1">Novo gênero...</option>
                                    </select>
                                    <div class="btn-group-sm" id="btnsGenre">
                                        <button id="addGenre" class="btn btn-outline-success" type="button">+</button>
                                        <button id="removeGenre" class="btn btn-outline-danger" type="button">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>