<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" use-expressions="true" auto-config="true">

<head>
	<title>Biblioteca do Fred</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<style>
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}

    #wrapper {
        margin-left: 10px;
    }
</style>

<body>
	<nav class="navbar navbar-expand-sm navbar-fixed-top bg-dark navbar-dark">
		<ul class="navbar-nav mr-auto">
			<a class="navbar-brand">
				<img th:src="@{images/logo.jpg}" alt="Logo" style="width:100px;">
			</a>
			<li class="nav-item active navbar-text" sec:authorize="hasAuthority('ADMIN')">
				<a class="nav-link" href="addbook">Adicionar livro</a>
			</li>
			<li class="nav-item navbar-text">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item navbar-text">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item navbar-text">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<!-- Login information -->
			<div class="panel panel-warning" sec:authorize="!isAnonymous()">
				<div class="panel-body">
					<ul class="navbar-nav">
						<li class="nav-item navbar-text">
							<span class="text-success">Logado como:</a>
						</li>
						<li class="nav-item navbar-text">
							<span sec:authentication="name"></span>
						</li>
						<li class="nav-item navbar-text" id="wrapper">
							<a th:href="@{/logout}" class="btn btn-outline-light text-light" role="button">Sair</a>	
						</li>
					</ul>
				</div>
			</div>

			<!-- Login input information -->
			<div class="panel panel-warning" sec:authorize="isAnonymous()">
				<div class="panel-body">
					<ul class="navbar-nav">
						<li class="nav-item navbar-text">
							<a href="login" class="btn btn-outline-light text-light" role="button">Entrar</a>
						</li>
						<li class="nav-item navbar-text" id="wrapper">
							<span class="nav-text">ou</span>
						</li>
						<li class="nav-item navbar-text" id="wrapper">
							<a href="registro" class="btn btn-outline-light text-light" role="button">Registrar-se</a>
						</li>
					</ul>
				</div>
			</div>
		</ul>
	</nav>
	<div class="jumbotron text-center">
		<h1>
			<span th:text="${appName}">
		</h1>
		<p>Bem vindo ao site!</p>
	</div>

	<div class="container" sec:authorize="!isAnonymous()">
		<div class="row">
			<div class="col-sm-4">
				<h3>Column 1</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris...</p>
			</div>
			<div class="col-sm-4">
				<h3>Column 2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris...</p>
			</div>
			<div class="col-sm-4">
				<h3>Column 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris...</p>
			</div>
		</div>
	</div>
</body>

</html>