<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" use-expressions="true" auto-config="true">

<head>
    <title>Login de usuário</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    #wrapper {
        width: 500px;
    }

    #wrapper .container-sm {
        max-width: 100%;
    }

    .container {
        height: 50px;
        position: relative;
        margin-top: 40px
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    h1 {
        text-align: center;
    }

    .text-danger {
        margin-top: 20px;
        text-align: center;
    }

    .marginAdjust {
        margin-top: 50px;
    }
</style>

<body>
    <div align-content="center">
        <div class="container-sm p-3 my-3 bg-dark text-white" id="wrapper">
            <h1>Login de usuário</h1>
            <!-- Error -->
            <p th:if="${param.error}" class="text-danger" th:text="${errorMessage}"></p>

            <form th:action="@{/j_spring_security_check}" method="POST">
                <div class="input-group mb-3 marginAdjust">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nome de usuário:</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Digite o nome de usuário" name="user_name">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Senha:</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Digite sua senha" name="pass_phrase">
                </div>
                <div class="container">
                    <div class="center">
                        <button class="btn btn-success" type="submit" name="submit" value="submit">Login</button>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
        </div>
    </div>
</body>

</html>